
* {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans serif;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #416651 0.52%, #EFB07D 100%);
    --secondaryGradient: linear-gradient(268.91deg, #416651 -2.14%, #0D6E72 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

.header{
    min-height:100vh;
    width:100%;
  background-image: linear-gradient(rgba(4,9,10,0.5), rgba(4,9,10,0.5)), url("https://images.unsplash.com/photo-1472157592780-9e5265f17f8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
    background-size:cover;
    position: relative;

}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background:var(--primaryGradient);
}

nav img{
    width: 60px;

}

.nav-links{
    flex:2 ;
    text-align: left;
    padding-right: 700px;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 32px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;

}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}


.btn-style{
    display: flex;
    color: #0a0a0a;
    border: none;
    padding: 13px 50px;
    position: relative;
    margin: auto;
    top: 45%;
}

.btn-style button{
text-decoration: none;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
font-weight:bold;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #EFB07D;
    transition: 1s;
    color:#3B3B3B;

}

/*--------subject-----*/
.subject{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
     font-weight: 300;
     line-height:22px;
     padding:10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content:space-between;

}

.subject-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius:10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box
}

.subject-col p {

color:#3B3B3B;
}

h3{
    text-align:center;
    font-weight: 600px;
    margin: 10px 0;
    }

.subject-col:hover{
    /*box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);*/
}

/*subject-email*/

.subject{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;

}

.subject-email{
     width:80%;
     margin:auto;
     text-align: center;
     padding-top: 50px;

}

.email-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}

.email-col img{
    width: 100%;
    display:block;
}




.layer{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
background:rgba(206,0,1,0.7);
}


.layer h3{
    width:100%;
    font-weight: 500px;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    /*opacity:0;*/
    transition: 0.5s;

}

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position: relative;
    overflow:hidden;
}

.services-col img{
    width:100%;
    border-radius:10px;

}

.services-col p{
   padding:0;

}

.services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;

}

/*Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
 }

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
color: #f44336;
}

.fa-sparkles{
color: #f44336;
}